.login-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.login {
  width: clamp(400px, 80vw, 800px);
  margin: 0 auto;
  padding: 40px 20px 20px 20px;
  border: 1px solid #4ade80;
  border-radius: 10px;
  background-color: #6ee7b7;
  color: #065f46;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #065f46;
}

.close-button:hover {
  color: red;
}

.create-login h1 {
  text-align: center;
  color: #065f46;
  font-weight: 800;
  font-size: 22px;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  padding-right: 30px;
}

.create-login form {
  display: flex;
  flex-direction: column;
}

.create-login label {
  margin-bottom: 5px;
  font-weight: 700;
  color: #065f46;
}

.create-login input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #4ade80;
  border-radius: 10px;
  background-color: #ecfdf5;
  color: #065f46;
  font-size: 16px;
}

.create-login input:focus {
  outline: none;
  border-color: #065f46;
}

.create-login button {
  padding: 10px;
  background-color: #065f46;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
}

.create-login button:hover {
  background-color: #022c1e;
}