.card { 
    padding: 20px;
    margin-bottom: 15px;
    min-width: 800px;
    border-radius: 15px;
}

.cardImg { 
    display: inline;
    margin-right: 10px;
}

.textRow {
    display: flex;
    flex-direction:  column;
}

.expandButton {
    margin-left: auto;  
}

p { 
    margin: 0;
    text-align: left;
}