.navbar {
    display: flex;
    justify-content: space-between;
    width: auto;
    align-items: center;
    padding: 18px 28px;
}

.right {
    display: flex;
    gap: 22px;
    align-items: center;
}

.link {
    font-size: 18px;
    font-weight: 700;
    color: white; 
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #2b2b2b;
    background-color: #1a1a1a;
}