.navbar {
    display: flex;
    justify-content: space-between;
    width: auto;
    align-items: center;
    padding: 18px 28px;
}

.right {
    display: flex;
    gap: 22px;
    align-items: center;
}

.link {
    font-size: 18px;
    font-weight: 700;
    color: white; 
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #2b2b2b;
    background-color: #1a1a1a;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 10px;
    border: 1px solid #2b2b2b;
    background-color: #1a1a1a;
}

.nav-profile-photo {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.nav-username {
    font-size: 16px;
    font-weight: 700;
    color: white;
}

.user-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  min-width: 100%;
  padding: 6px
}

.trigger-btn:hover,
.trigger-btn:focus {
  background: none;
  cursor: pointer;
  outline: none;
}

