.navbar {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 5em;
    align-items: center;
    padding: 18px 28px;
}

.right {
    display: flex;
    gap: 22px;
    align-items: center;
}


.active {
    background-color: var(--color-black);
}

.active:hover {
    border-color: white;
}

.deactivated {
    background-color: var(--color-primary);
    color: black;
}

.deactivated:hover {
  border-color: var(--black);
}

.nav-profile-photo {
    width: 36px;
    height: 36px;
    border: 2px solid var(--color-black);
    border-radius: 50%;
    object-fit: cover;
}

.nav-username {
    font-size: 16px;
    font-weight: 700;
    color: white;
}

.user-dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  min-width: 100%;
}

.dropdown-button { 
    background-color: var(--color-black);
    border-radius: 0;
    border: 2px solid #2a2a2a;
    border-top: 0;
}
.dropdown-button:hover { 
    border: 2px solid white;
}

.top-button {
    border: 2px solid #2a2a2a;
}


.nav-button { 
    min-width: 10em;
}



